body {
  background-color: #fdf2e4;
  color: #383434f7;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  text-align: center;
}

h1.hero {
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)),
    url("../assets/hero-map.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 230px 0;
  line-height: 1.5;
}

h1 {
  background-color: #165350;
  color: white;
  font-size: 48px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.resources-h2 {
  background-color: #165350;
  color: white;
  padding: 30px 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
}

nav {
  background-color: #b21a25;
  padding: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

main li {
  padding: 5px 0;
  font-weight: 600;
}

main section {
  padding: 10px;
}

section.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 10px;
}

section.about h3 {
  text-align: center;
}

section.about p {
  line-height: 1.5;
  font-size: 17px;
  font-weight: 450;
}

section.about-wns a {
  color: #fdf2e4;
  font-weight: 700;
}

section.about img {
  max-width: 100%;
  border-radius: 5px;
  min-width: 100%;
}

section.about-wns {
  background-color: #383434f7;
  color: white;
}

hr {
  margin: 30px auto;
}

.bold {
  font-weight: 700;
}

.right {
  text-align: right;
}

footer {
  background-color: #383434f7;
  color: white;
  display: flex;
  align-content: center;
  justify-content: end;
  padding: 10px 20px;
  font-size: 14px;
}

footer a {
  color: white;
}

a {
  color: #b21a25;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

nav a:visited {
  color: white;
}

@media only screen and (max-width: 768px) {
  h1.hero {
    padding: 110px;
  }
  section.about {
    grid-template-columns: 1fr;
  }
}

/* small screens (phones) */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  footer {
    justify-content: center;
  }
}
