body {
  background-color: #fdf2e4;
  color: #000200;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  text-align: center;
}

h1.hero {
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)),
    url("../assets/hero-map.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 230px 0;
  line-height: 1.5;
}

h1 {
  background-color: #165350;
  color: white;
  font-size: 48px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.resources-h2 {
  background-color: #165350;
  color: white;
  padding: 30px 0;
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

nav {
  background-color: #b21a25;
  padding: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

main li {
  padding: 5px 0;
  font-weight: 600;
}

main section {
  padding: 6px;
}

a {
  color: #b21a25;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

nav a:visited {
  color: white;
}
