body {
  background-color: hsl(34, 86%, 94%);
  color: hsla(0, 4%, 21%, 0.969);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  text-align: center;
}

h1.hero {
  background-image:
    linear-gradient(hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)),
    url("../assets/hero-map.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(34, 86%, 94%);
  line-height: 1.5;
  margin: 0;
  padding: 230px 0;
}

h1 {
  background-color: hsl(177, 58%, 21%);
  color: hsl(34, 86%, 94%);
  font-size: 48px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.resources-h2 {
  background-color: hsl(177, 58%, 21%);
  color: hsl(34, 86%, 94%);
  font-size: 30px;
  padding: 30px 5px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
}

nav {
  background-color: hsl(356, 75%, 40%);
  padding: 30px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul {
  padding-inline-start: 20px;
}

main li {
  font-weight: 600;
  padding: 5px 0;
  overflow-wrap: break-word;
}

main section {
  padding: 10px;
}

section.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 10px;
  justify-content: center;
}

section.about h3 {
  text-align: center;
}

section.about p {
  font-size: 17px;
  font-weight: 450;
  line-height: 1.5;
}

section.about-wns a {
  color: hsl(34, 86%, 94%);
  font-weight: 700;
}

section.about-cpj {
  background-color: hsl(177, 58%, 21%);
  color: hsl(34, 86%, 94%);
}

section.about-cpj a {
  color: hsl(34, 86%, 94%);
}

section.about img {
  border-radius: 5px;
  max-width: 100%;
  min-width: 100%;
}

section.about ul {
  padding-inline-start: 20px;
}
section.about-wns {
  background-color: hsla(0, 4%, 21%, 0.969);
  color: hsl(34, 86%, 94%);
}

hr {
  margin: 30px auto;
}

.active {
  border-bottom: 2px solid hsl(34, 86%, 94%);
}

.bold {
  font-weight: 700;
}

.right {
  text-align: right;
}

footer {
  align-content: center;
  background-color: hsla(0, 4%, 21%, 0.969);
  color: hsl(34, 86%, 94%);
  display: flex;
  font-size: 14px;
  justify-content: end;
  padding: 10px 20px;
}

footer a {
  color: hsl(34, 86%, 94%);
}

a {
  color: hsl(356, 75%, 40%);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: hsl(34, 86%, 94%);
  font-size: 24px;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
}

nav a:visited {
  color: hsl(34, 86%, 94%);
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 30px 5px;
    margin: 0 auto;
  }
  h1.hero {
    padding: 110px 0;
  }
  section.about {
    grid-template-columns: 1fr;
  }
}

/* small screens (phones) */
@media only screen and (max-width: 576px) {
  nav a {
    font-size: 22px;
  }

  h1 {
    font-size: 40px;
  }

  footer {
    justify-content: center;
  }
}
